.choresText {
   color: darkmagenta;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-style: italic;
}

.choresHeading {
   color: purple;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: underline;
}